//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 02 10:44:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "sw2" LOCATE = SITE "K18" LEVEL 1;
COMP "sw3" LOCATE = SITE "K17" LEVEL 1;
COMP "sw6" LOCATE = SITE "N17" LEVEL 1;
COMP "sw7" LOCATE = SITE "R17" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "K15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

