//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 13 21:37:46 2016
//! **************************************************************************

SCHEMATIC START;
COMP "led0" LOCATE = SITE "J14" LEVEL 1;
COMP "sw5" LOCATE = SITE "L13" LEVEL 1;
COMP "sw6" LOCATE = SITE "N17" LEVEL 1;
COMP "sw7" LOCATE = SITE "R17" LEVEL 1;
SCHEMATIC END;

